.instagramDividerChild,
.upButtonIcon {
  position: relative;
  max-width: 100%;
  object-fit: cover;
}
.instagramDividerChild {
  width: 447px;
  border-radius: var(--br-xl);
  max-height: 100%;
  display: none;
}
.upButtonIcon {
  height: 549px;
  flex: 1;
  overflow: hidden;
  z-index: 1;
}
.instagramDivider {
  height: 631px;
  width: 447px;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-41xl) var(--padding-11xl)
    var(--padding-xl);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 447px;
  max-width: 100%;
}
.company,
.position {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.company {
  margin: 0;
  width: 384px;
  font-size: inherit;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
  max-width: 100%;
}
.position {
  width: 480px;
  font-size: var(--portfolio-thumbnails-14-18-aa-size);
  line-height: 18px;
  max-width: 115%;
  flex-shrink: 0;
}
.companyParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.year {
  position: relative;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-gray-300);
  text-align: right;
}
.experience1 {
  width: 480px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.company1,
.position1 {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.company1 {
  margin: 0;
  width: 384px;
  font-size: inherit;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
  max-width: 100%;
}
.position1 {
  width: 480px;
  font-size: var(--portfolio-thumbnails-14-18-aa-size);
  line-height: 18px;
  max-width: 115%;
  flex-shrink: 0;
}
.companyGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.year1 {
  position: relative;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-gray-300);
  text-align: right;
}
.experience2 {
  width: 480px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.company2,
.position2 {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.company2 {
  margin: 0;
  width: 384px;
  font-size: inherit;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
  max-width: 100%;
}
.position2 {
  width: 480px;
  font-size: var(--portfolio-thumbnails-14-18-aa-size);
  line-height: 18px;
  max-width: 115%;
  flex-shrink: 0;
}
.companyContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.year2 {
  position: relative;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-gray-300);
  text-align: right;
}
.experience3 {
  width: 480px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.company3,
.position3 {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.company3 {
  margin: 0;
  width: 384px;
  font-size: inherit;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
  max-width: 100%;
}
.position3 {
  width: 480px;
  font-size: var(--portfolio-thumbnails-14-18-aa-size);
  line-height: 18px;
  max-width: 115%;
  flex-shrink: 0;
}
.frameDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.year3 {
  position: relative;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-gray-300);
  text-align: right;
}
.experience4 {
  width: 480px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.company4,
.position4 {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.company4 {
  margin: 0;
  width: 384px;
  font-size: inherit;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
  max-width: 100%;
}
.position4 {
  width: 480px;
  font-size: var(--portfolio-thumbnails-14-18-aa-size);
  line-height: 18px;
  max-width: 115%;
  flex-shrink: 0;
}
.companyParent1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.year4 {
  position: relative;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-gray-300);
  text-align: right;
}
.experience,
.experience5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.experience5 {
  width: 480px;
  overflow: hidden;
  flex-direction: row;
}
.experience {
  flex: 1;
  overflow-x: auto;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 312px;
  max-width: 100%;
}
.footerLeft,
.linkedinDivider {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.linkedinDivider {
  width: 1024px;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-78xl);
}
.footerLeft {
  width: 1120px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-53xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--experience-24-30-aa-size);
  color: var(--black);
  font-family: var(--portfolio-thumbnails-14-18-aa);
}
@media screen and (max-width: 1050px) {
  .instagramDivider,
  .upButtonIcon {
    flex: 1;
  }
  .linkedinDivider {
    flex-wrap: wrap;
    gap: var(--gap-78xl);
  }
}
@media screen and (max-width: 750px) {
  .instagramDivider {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .linkedinDivider {
    gap: var(--gap-78xl);
  }
  .footerLeft {
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .company,
  .company1,
  .company2,
  .company3,
  .company4,
  .year,
  .year1,
  .year2,
  .year3,
  .year4 {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
}
