.image5Icon,
.paragraph {
  position: relative;
  max-width: 100%;
}
.paragraph {
  margin: 0;
  width: 640px;
  font-size: inherit;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
}
.image5Icon {
  width: 735px;
  max-height: 100%;
  object-fit: cover;
}
.image5Wrapper,
.paragraphParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.image5Wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.paragraphParent {
  width: 831px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-109xl);
  box-sizing: border-box;
  gap: var(--gap-109xl);
  text-align: left;
  font-size: var(--experience-24-30-aa-size);
  color: var(--black);
  font-family: var(--portfolio-thumbnails-14-18-aa);
}
@media screen and (max-width: 1200px) {
  .paragraphParent {
    padding-bottom: var(--padding-64xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .paragraphParent {
    gap: var(--gap-109xl);
  }
}
@media screen and (max-width: 750px) {
  .paragraphParent {
    padding-bottom: var(--padding-35xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .paragraph {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .paragraphParent {
    gap: var(--gap-109xl);
  }
}
