.h1,
.heroImageIcon {
  position: absolute;
  left: 0;
}
.h1 {
  margin: 0;
  top: 244px;
  font-size: inherit;
  line-height: 78px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 928px;
  z-index: 1;
}
.heroImageIcon {
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.iconsdarkLight,
.iconsmenu {
  position: absolute;
  top: 24px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.iconsdarkLight {
  left: 528px;
  object-fit: contain;
}
.iconsmenu {
  left: 576px;
}
.heroImageParent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 464px;
  width: 640px;
}
.h1Parent {
  height: 800px;
  flex: 1;
  position: relative;
  max-width: calc(100% - 144px);
  text-align: center;
  font-size: var(--h2-64-78-aa-size);
  color: var(--black);
  font-family: var(--portfolio-thumbnails-14-18-aa);
}
@media screen and (max-width: 1050px) {
  .h1 {
    font-size: var(--font-size-32xl);
    line-height: 62px;
  }
}
@media screen and (max-width: 750px) {
  .h1Parent {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: var(--font-size-19xl);
    line-height: 47px;
  }
}
