.ellipsearrow {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--black);
}
.iconsarrow {
  width: 48px;
  height: 22px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.previous,
.theStarryNight {
  display: flex;
  align-items: center;
  position: relative;
}
.theStarryNight {
  margin: 0;
  align-self: stretch;
  height: 72px;
  font-size: inherit;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.previous {
  width: 256px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-45xl) var(--padding-13xl) var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-lg);
  cursor: pointer;
}
.previousellipseChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--black);
  width: 100%;
  height: 100%;
}
.theRedVineyard {
  margin: 0;
  position: absolute;
  top: 104px;
  left: 32px;
  font-size: inherit;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 72px;
  z-index: 1;
}
.iconsarrow1 {
  position: absolute;
  top: 64px;
  left: 104px;
  width: 48px;
  height: 22px;
  z-index: 1;
}
.previousellipse {
  height: 256px;
  width: 256px;
  position: relative;
}
.dataFieldInner,
.previousParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.previousParent {
  width: 736px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.dataFieldInner {
  width: 928px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--experience-24-30-aa-size);
  color: var(--white);
  font-family: var(--portfolio-thumbnails-14-18-aa);
}
@media screen and (max-width: 750px) {
  .previousParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .theRedVineyard,
  .theStarryNight {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
}
