.lightFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-59xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--portfolio-thumbnails-14-18-aa-size);
  color: var(--black);
  font-family: var(--portfolio-thumbnails-14-18-aa);
}
@media screen and (max-width: 750px) {
  .lightFrame {
    gap: var(--gap-59xl);
  }
}
@media screen and (max-width: 450px) {
  .lightFrame {
    gap: var(--gap-59xl);
  }
}
