.field,
.field1 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
}
.field {
  width: 88px;
  flex-shrink: 0;
}
.field1 {
  flex: 1;
  color: var(--black);
  min-width: 25px;
}
.data {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.field2,
.field3 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
}
.field2 {
  width: 88px;
  flex-shrink: 0;
}
.field3 {
  flex: 1;
  color: var(--black);
  min-width: 86px;
}
.data1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.field4,
.field5 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
}
.field4 {
  width: 88px;
  flex-shrink: 0;
}
.field5 {
  flex: 1;
  color: var(--black);
  min-width: 155px;
}
.data2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.field6,
.field7 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
}
.field6 {
  width: 88px;
  flex-shrink: 0;
}
.field7 {
  flex: 1;
  color: var(--black);
  min-width: 88px;
}
.data3,
.information {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.data3 {
  align-self: stretch;
  flex-direction: row;
}
.information {
  width: 352px;
  flex-shrink: 0;
  flex-direction: column;
  max-width: 100%;
}
.theNightCaf {
  flex: 1;
  position: relative;
  line-height: 20px;
  color: var(--black);
  display: inline-block;
  min-width: 291px;
  max-width: 100%;
}
.galleryImageFrame,
.theNightCafetext {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.galleryImageFrame {
  width: 832px;
  flex-wrap: wrap;
  gap: var(--gap-13xl);
}
.theNightCafetext {
  width: 1160px;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--portfolio-thumbnails-14-18-aa-size);
  color: var(--color-gray-300);
  font-family: var(--portfolio-thumbnails-14-18-aa);
}
@media screen and (max-width: 450px) {
  .data,
  .data1,
  .data2,
  .data3 {
    flex-wrap: wrap;
  }
  .galleryImageFrame {
    gap: var(--gap-13xl);
  }
}
