.heroImageIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.iconsarrow {
  height: 7.4px;
  width: 16px;
  position: relative;
  object-fit: contain;
}
.titleLeft {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
}
.headerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  cursor: pointer;
  z-index: 2;
}
.iconsdarkLight {
  object-fit: contain;
}
.iconsdarkLight,
.iconsmenu {
  height: 32px;
  width: 32px;
  position: relative;
  min-height: 32px;
  z-index: 2;
}
.frameDarkLightIconsMenu,
.heroImageFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.heroImageFrame {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-5xs);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--portfolio-thumbnails-14-18-aa-size);
  color: var(--black);
  font-family: var(--portfolio-thumbnails-14-18-aa);
}
.h1,
.titleLeft1 {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.titleLeft1 {
  width: 148px;
  line-height: 18px;
  transform: rotate(-90deg);
  z-index: 2;
}
.h1 {
  margin: 0;
  height: 390px;
  width: 928px;
  font-size: var(--h2-64-78-aa-size);
  line-height: 78px;
  font-weight: 500;
  font-family: inherit;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.informationFieldContainer,
.titleLeftText,
.top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.titleLeftText {
  width: 1072px;
  align-items: center;
  gap: var(--gap-107xl);
}
.informationFieldContainer,
.top {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.top {
  flex-direction: column;
  align-items: center;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-186xl);
  position: relative;
  gap: var(--gap-130xl);
  text-align: center;
  font-size: var(--portfolio-thumbnails-14-18-aa-size);
  color: var(--black);
  font-family: var(--portfolio-thumbnails-14-18-aa);
}
@media screen and (max-width: 1200px) {
  .titleLeftText {
    flex-wrap: wrap;
    gap: var(--gap-107xl);
  }
}
@media screen and (max-width: 1050px) {
  .top {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-114xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .h1 {
    font-size: var(--font-size-32xl);
    line-height: 62px;
  }
  .titleLeftText {
    gap: var(--gap-107xl);
  }
  .top {
    gap: var(--gap-130xl);
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: var(--font-size-19xl);
    line-height: 47px;
  }
  .titleLeftText {
    gap: var(--gap-107xl);
  }
  .top {
    gap: var(--gap-130xl);
    padding-bottom: var(--padding-67xl);
    box-sizing: border-box;
  }
}
