.image1Icon,
.image2Icon,
.image3Icon {
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.image1Icon {
  width: 1122px;
}
.image2Icon,
.image3Icon {
  align-self: stretch;
  min-height: 625px;
}
.image2Icon {
  flex: 1;
  overflow: hidden;
  min-width: 416px;
}
.image3Icon {
  width: 448px;
}
.imageFrame {
  width: 1160px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.h1,
.paragraph {
  margin: 0;
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
}
.h1 {
  height: 704px;
  font-size: inherit;
  line-height: 88px;
}
.paragraph {
  height: 160px;
  font-size: var(--big-paragraph-32-40-aa-size);
  line-height: 40px;
}
.galleryFrame {
  width: 968px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-23xl);
  box-sizing: border-box;
  gap: var(--gap-29xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--h1-72-88-size);
  color: var(--white);
  font-family: var(--portfolio-thumbnails-14-18-aa);
}
.galleryImage5 {
  height: 502px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.galleryImage5Wrapper {
  width: 1160px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-81xl);
  box-sizing: border-box;
  max-width: 100%;
}
.nextArrowEllipseChild {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--white);
}
.iconsarrow {
  width: 48px;
  height: 22px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.nextArrowEllipse,
.paulGauguinsArmchair {
  display: flex;
  align-items: center;
  position: relative;
}
.paulGauguinsArmchair {
  margin: 0;
  align-self: stretch;
  height: 72px;
  font-size: inherit;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.nextArrowEllipse {
  width: 256px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-45xl) var(--padding-6xl) var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-lg);
}
.nextChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--white);
  width: 100%;
  height: 100%;
}
.iconsarrow1,
.theNightCaf {
  position: absolute;
  z-index: 1;
}
.theNightCaf {
  margin: 0;
  top: 104px;
  left: 32px;
  font-size: inherit;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 72px;
}
.iconsarrow1 {
  top: 64px;
  left: 104px;
  width: 48px;
  height: 22px;
}
.next {
  height: 256px;
  width: 256px;
  position: relative;
  cursor: pointer;
}
.nextArrowEllipseParent {
  width: 776px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-xl) var(--padding-87xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.portfolioLayout2Dark {
  width: 100%;
  position: relative;
  background-color: var(--black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-77xl);
  box-sizing: border-box;
  gap: var(--gap-131xl);
  letter-spacing: normal;
  text-align: center;
  font-size: var(--experience-24-30-aa-size);
  color: var(--black);
  font-family: var(--portfolio-thumbnails-14-18-aa);
}
@media screen and (max-width: 1050px) {
  .image3Icon {
    flex: 1;
  }
  .imageFrame {
    flex-wrap: wrap;
  }
  .galleryFrame {
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .image2Icon {
    min-width: 100%;
  }
  .imageFrame {
    gap: var(--gap-13xl);
  }
  .h1 {
    font-size: var(--font-size-39xl);
    line-height: 70px;
  }
  .paragraph {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
  .galleryFrame {
    gap: var(--gap-29xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .galleryImage5Wrapper {
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
  .nextArrowEllipseParent {
    flex-wrap: wrap;
  }
  .portfolioLayout2Dark {
    gap: var(--gap-131xl);
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: var(--font-size-24xl);
    line-height: 53px;
  }
  .paragraph {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .paulGauguinsArmchair,
  .theNightCaf {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .nextArrowEllipseParent {
    padding-bottom: var(--padding-50xl);
    box-sizing: border-box;
  }
  .portfolioLayout2Dark {
    gap: var(--gap-131xl);
  }
}
